@use "../../global/forwarded.scss" as f;

.best-product {
  width: 320px;

  &--decaf {
    background-color: #f3ebe1;
  }

  &--latte {
    background-color: #eae6fc;
  }

  &--espresso {
    background-color: #e5e6e8;
  }
}

.best-product__wrapper {
  width: f.$mobile-width;
  margin: 0 auto;
  padding: 20px;
  min-height: 656px;
  display: flex;
  flex-direction: column;
}

.best-product__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto 10px;
}

.best-product__tag {
  order: -1;
  display: block;
  width: 74px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: f.$color-accent;
  margin: 0 auto 4px;
}

.best-product__image {
  order: -2;
  display: block;
  margin: 0 auto 10px;
}

.best-product__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto 20px;
  align-content: center;
}

.best-product__price-wrapper {
  display: flex;
  margin: 0 auto;
}

.best-product__old-price {
  text-decoration: line-through;
  color: f.$color-accent;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: auto 6px auto 0;
}

.best-product__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin: auto 20px auto 0;
}

.best-product__button {
  min-width: 112px;
  font-size: 16px;
  line-height: 24px;
}

