@use "../../global/forwarded.scss" as f; /* stylelint-disable-line */

.best-product {
  &--decaf {
    background-color: #f3ebe1;
  }

  &--latte {
    background-color: #eae6fc;
  }

  &--espresso {
    background-color: #e5e6e8;
  }
}

.best-product__wrapper {
  display: flex;
  flex-direction: column;

  width: f.$mobile-width;
  min-height: 656px;
  margin: 0 auto;
  padding: 20px;
}

.best-product__title {
  margin: 0 auto 10px;

  text-align: center;
  letter-spacing: 0.02em;

  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.best-product__tag {
  display: block;
  order: -1;

  margin: 0 auto 4px;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: f.$color-accent;

  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.best-product__image-wrapper {
  order: -2;

  margin: 0 auto 10px;
}

.best-product__image {
  display: block;
}

.best-product__description {
  align-content: center;

  margin: 0 auto 20px;

  text-align: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.best-product__price-wrapper {
  display: flex;

  margin: 0 auto;
}

.best-product__old-price {
  margin: auto 6px auto 0;

  text-decoration: line-through;

  color: f.$color-accent;

  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.best-product__price {
  margin: auto 20px auto 0;

  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.best-product__button {
  min-width: 112px;

  font-size: 16px;
  line-height: 24px;
}

@media (min-width: f.$tablet-width) {
  .best-product__wrapper {
    width: f.$tablet-width;
    min-height: 640px;
    padding: 60px 80px 0;
  }

  .best-product__image-wrapper {
    order: 1;

    margin: 0 auto -188px;
  }

  .best-product__title {
    margin: 0 auto 16px;

    font-size: 56px;
    line-height: 80px;
  }

  .best-product__tag {
    font-size: 12px;
    line-height: 16px;
  }

  .best-product__description {
    margin: 0 auto 20px;

    font-size: 20px;
    line-height: 32px;
  }

  .best-product__price-wrapper {
    margin-bottom: 20px;
  }


  .best-product__image {
    z-index: 1;

    width: 476px;
    height: 476px;
  }
}

@media (min-width: f.$tablet-width) and (max-width: f.$tablet-width-only) {
  .best-product__bottom-panel {
    width: 100%;
    height: 188px;

    background-color: f.$color-background-first;
  }
}

@media (min-width: f.$desktop-width) {
  .best-product__wrapper {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 605px 1fr;
    grid-template-rows: 1fr repeat(4, auto) 1fr;
    grid-template-areas:
      "image ."
      "image tag"
      "image title"
      "image description"
      "image price"
      "image .";

    width: f.$desktop-width;
    min-height: 714px;
    padding: 30px 100px 84px;
  }

  .best-product__image-wrapper {
    margin: 0 0 0 5px;
    grid-area: image;
  }

  .best-product__image {
    z-index: 1;

    width: 600px;
    height: 600px;
    margin: 0;
  }

  .best-product__tag {
    grid-area: tag;

    margin: 0 auto 4px 0;

    text-align: left;
  }

  .best-product__title {
    margin: 0 auto 16px 0;
    grid-area: title;

    text-align: left;
  }

  .best-product__description {
    margin: 0 auto 40px;
    grid-area: description;

    text-align: left;
  }

  .best-product__price-wrapper {
    grid-area: price;

    margin: 0 auto 8px 0;
  }
}

