@use "../../global/forwarded.scss" as f;

.best-product {
  &--decaf {
    background-color: #f3ebe1;
  }

  &--latte {
    background-color: #eae6fc;
  }

  &--espresso {
    background-color: #e5e6e8;
  }
}

.best-product__wrapper {
  width: f.$mobile-width;
  margin: 0 auto;
  padding: 20px;
  min-height: 656px;
  display: flex;
  flex-direction: column;
}

.best-product__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto 10px;
}

.best-product__tag {
  order: -1;
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: f.$color-accent;
  margin: 0 auto 4px;
}

.best-product__image-wrapper {
  order: -2;
  margin: 0 auto 10px;
}

.best-product__image {
  display: block;
}

.best-product__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto 20px;
  align-content: center;
}

.best-product__price-wrapper {
  display: flex;
  margin: 0 auto;
}

.best-product__old-price {
  text-decoration: line-through;
  color: f.$color-accent;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: auto 6px auto 0;
}

.best-product__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin: auto 20px auto 0;
}

.best-product__button {
  min-width: 112px;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: f.$tablet-width) {
  .best-product__wrapper {
    width: f.$tablet-width;
    min-height: 640px;
    padding: 60px 80px 0;
  }

  .best-product__image-wrapper {
    order: 1;
    margin: 0 auto -188px;
  }

  .best-product__title {
    font-size: 56px;
    line-height: 80px;
    margin: 0 auto 16px;
  }

  .best-product__tag {
    font-size: 12px;
    line-height: 16px;
  }

  .best-product__description {
    font-size: 20px;
    line-height: 32px;
    margin: 0 auto 20px;
  }

  .best-product__price-wrapper {
    margin-bottom: 20px;
  }


  .best-product__image {
    width: 476px;
    height: 476px;
    z-index: 1;
  }
}

@media (min-width: f.$tablet-width) and (max-width: f.$tablet-width-only) {
  .best-product__bottom-panel {
    height: 188px;
    width: 100%;
    background-color: f.$color-background-first;
  }
}

@media (min-width: f.$desktop-width) {
  .best-product__wrapper {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 605px 1fr;
    grid-template-rows: 1fr repeat(4, auto) 1fr;
    grid-template-areas:
      "image ."
      "image tag"
      "image title"
      "image description"
      "image price"
      "image .";

    width: f.$desktop-width;
    min-height: 714px;
    padding: 30px 100px 84px;
  }

  .best-product__image-wrapper {
    margin: 0 0 0 5px;
    grid-area: image;
  }

  .best-product__image {
    width: 600px;
    height: 600px;
    margin: 0;
    z-index: 1;
  }

  .best-product__tag {
    grid-area: tag;
    margin: 0 auto 4px 0;
    text-align: left;
  }

  .best-product__title {
    margin: 0 auto 16px 0;
    grid-area: title;
    text-align: left;
  }

  .best-product__description {
    margin: 0 auto 40px;
    grid-area: description;
    text-align: left;
  }

  .best-product__price-wrapper {
    grid-area: price;
    margin: 0 auto 8px 0;
  }
}

