@use "../../global/forwarded.scss" as f; /* stylelint-disable-line */

.country-origin {
  @include f.fieldset-reset;

  padding: 0 0 34px;
}

.country-origin__title {
  margin: 0 0 21px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.country-origin__list {
  @include f.list-reset;

  display: flex;
  flex-direction: column;
  gap: 21px;
}

.country-origin__item {
  margin: 0;
  padding: 0;
}

.country-origin__control {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.country-origin__mark {
  position: relative;

  display: block;

  width: 42px;
  height: 24px;
  margin-right: 10px;

  border-radius: 12px;
  background-color: #bdbdbd;
  outline-offset: -2px;

  transition: background-color 300ms;

  &:hover,
  &:focus-visible {
    background-color: f.$color-background--hover;
    outline: 2px solid f.$color-accent--hover;
  }
}


.country-origin__label {
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  user-select: none;
}

.country-origin__input {
  &:focus-visible + .country-origin__mark {
    background-color: f.$color-background--hover;
    box-shadow: inset 2px 2px 0 0 f.$color-accent--hover;
  }
}

.country-origin__input:checked {
  & + .country-origin__mark {
    background-color: f.$color-accent;
  }

  & + .country-origin__mark::after {
    left: 20px;

    transition: left 300ms;

    background-color: f.$color-background-first;
  }
}

.country-origin__input + .country-origin__mark::after {
  position: absolute;
  top: 2px;
  left: 2px;

  width: 20px;
  height: 20px;

  content: " ";
  transition: 300ms;

  border-radius: 50%;
  background-color: f.$color-background-first;
}

.country-origin__input:disabled {
  + .country-origin__mark {
    pointer-events: none;
    background-color: #e2e2e2;
  }

  & + .country-origin__mark::after {
    background-color: #f8f8f8;
  }

  &:checked + .country-origin__mark::after {
    background-color: #bdbdbd;
  }

  & ~ .country-origin__label {
    color: #bdbdbd;
  }
}

@media (min-width: f.$desktop-width) {
  .country-origin {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .country-origin__list {
    gap: 20px;
  }
}
