@use "../../global/forwarded.scss" as f; /* stylelint-disable-line */

.product-card {
  padding: 40px 20px 20px;

  border-radius: 4px;
  background-color: f.$color-background-first;
}

.product-card__image {
  display: block;

  margin: 0 auto 24px;
}

.product-card__title {
  margin: 0 0 4px;

  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

.product-card__description {
  margin: 0 0 16px;

  font-size: 14px;
  line-height: 20px;
}

.product-card__price-wrapper {
  display: flex;
  align-items: center;
}

.product-card__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.product-card__button {
  position: relative;

  margin: 0 0 0 auto;
  padding-left: 46px;

  line-height: 20px;
}

.product-card__button-icon {
  position: absolute;
  top: 50%;
  left: 20px;

  transform: translateY(-50%);
}

@media (min-width: f.$tablet-width) {
  .product-card {
    width: 349px;
    padding: 50px 30px 30px;
  }

  .product-card__image {
    margin-bottom: 30px;
  }

  .product-card__title {
    margin-bottom: 10px;

    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }

  .product-card__description {
    margin-bottom: 20px;
  }
}

@media (min-width: f.$desktop-width) {
  .product-card {
    width: 317px;
  }
}
