@use "../../global/forwarded.scss" as f;

.slider__target,
.slider__target * {
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}
.slider__target {
  position: relative;
}
.slider__base,
.slider__connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.slider__connects {
  overflow: hidden;
  z-index: 0;
}
.slider__connect,
.slider__origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform-origin: 0 0;
  transform-style: flat;
}

.slider__txt-dir-rtl.slider__horizontal .slider__origin {
  left: 0;
  right: auto;
}

.slider__horizontal .slider__origin {
  height: 0;
}
.slider__handle {
  backface-visibility: hidden;
  position: absolute;
}
.slider__touch-area {
  height: 100%;
  width: 100%;
}
.slider__state-tap .slider__connect,
.slider__state-tap .slider__origin {
  transition: transform 0.3s;
}

.slider__horizontal {
  height: 3px;
}

.slider__txt-dir-rtl.slider__horizontal .slider__handle {
  left: -17px;
  right: auto;
}

.slider__target {
  background: #E2E2E2;
}
.slider__connects {
  border-radius: 3px;
}
.slider__connect {
  background: f.$color-accent--hover;
}

.slider__draggable {
  cursor: ew-resize;
}

.slider__handle {
  width: 24px;
  height: 24px;
  right: -12px;
  top: -11px;
  border: 2px solid f.$color-accent--hover;
  box-sizing: border-box;
  background-color: f.$color-background-first;
  border-radius: 50%;
  cursor: grab;
}

.slider__pips,
.slider__pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slider__pips {
  position: absolute;
  color: #999;
}

.slider__value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.slider__value-sub {
  color: #ccc;
  font-size: 10px;
}

.slider__marker {
  position: absolute;
  background: #CCC;
}
.slider__marker-sub {
  background: #AAA;
}
.slider__marker-large {
  background: #AAA;
}

.slider__pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.slider__value-horizontal {
  transform: translate(-50%, 50%);
}
.slider__rtl .slider__value-horizontal {
  transform: translate(50%, 50%);
}
.slider__marker-horizontal.slider__marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.slider__marker-horizontal.slider__marker-sub {
  height: 10px;
}
.slider__marker-horizontal.slider__marker-large {
  height: 15px;
}

.slider__pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.slider__tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.slider__horizontal .slider__tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.slider__horizontal .slider__origin > .slider__tooltip {
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}
