@use "../../global/forwarded.scss" as f;

.sort__label {
  display: flex;
  align-items: center;
}

.sort__title {
  display: block;

  margin-right: 8px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.sort__wrapper {
  position: relative;
}

.sort__select {
  position: relative;

  overflow: hidden;

  width: 165px;
  padding: 4px 30px 4px 10px;

  color: f.$color-accent;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: transparent;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  appearance: none;

  &:hover,
  &:focus-visible {
    background-color: #f0ebff;
  }

  .sort__option {
    background-color: f.$color-background-first;
    padding: 8px 20px;
    display: block;
    border: none;
  }


  &:active ~ .sort__select-icon {
    transform-origin: center;
    transform: rotate(180deg);
  }
}

.sort__select-icon {
  position: absolute;
  right: 10px;
  top: 11px;
  transition: 300ms;
}

@media (min-width: f.$tablet-width) {
  .sort {
    margin-bottom: 26px;
  }

  .sort__label {
    justify-content: flex-end;
  }
}

@media (min-width: f.$desktop-width) {
  .sort {
    margin-bottom: 26px;
  }
}
