@use "../../global/forwarded.scss" as f;

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper__list {
  position: relative;
}

.swiper__button {
  min-width: 40px;
  min-height: 40px;
  position: absolute;
  top: 310px;
  transform: translateX(-50%);
  z-index: 2;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &--prev {
    left: calc(50% - 150px);
  }

  &--next {
    left: calc(50% + 150px);
  }

  &:hover,
  &:focus-visible {
    background-color: f.$color-accent--hover;

    & .swiper__button-icon {
      fill: f.$color-background-first;
    }
  }

  &:active {
    background-color: f.$color-accent--active;

    & .swiper__button-icon {
      fill: f.$color-background-first;
    }
  }
}

.swiper__button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: f.$color-accent;
}

.swiper__button--next .swiper__button-icon {
  transform: rotate(180deg) translate(50%, 50%);
}

.swiper__pagination-wrapper {
  display: none;
}

@media (min-width: f.$tablet-width) {
  .swiper__button {
    top: 300px;

    &--prev {
      left: calc(50% - 344px);
    }

    &--next {
      left: calc(50% + 344px);
    }
  }
}

@media (min-width: f.$desktop-width) {
  .swiper__button {
    top: 336px;

    &--prev {
      left: calc(50% - 680px);
    }

    &--next {
      left: calc(50% + 680px);
    }
  }

  .swiper__pagination-wrapper {
    display: inline-block;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .swiper__pagination {
    display: flex;
    column-gap: 8px;
    opacity: 1;
  }

  .swiper__pagination-bullet {
    background-color: f.$color-background-first;
    width: 62px;
    height: 4px;
    margin: 0;
    opacity: 1;
    border-radius: 0;
    cursor: pointer;
  }

  .swiper__pagination-bullet--active {
    background-color: f.$color-accent;
    margin: 0;
    opacity: 1;
  }
}
