@use "../../global/forwarded.scss" as f;

.swiper {
  position: relative;
  z-index: 1;

  display: block;
  overflow: hidden;

  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.swiper__list {
  position: relative;
}

.swiper__button {
  position: absolute;
  z-index: 2;
  top: 310px;

  min-width: 40px;
  min-height: 40px;

  cursor: pointer;
  transform: translateX(-50%);

  border: none;
  border-radius: 4px;
  outline: none;
  background-color: transparent;

  &--prev {
    left: calc(50% - 150px);
  }

  &--next {
    left: calc(50% + 150px);
  }

  &:hover,
  &:focus-visible {
    background-color: f.$color-accent--hover;

    & .swiper__button-icon {
      fill: f.$color-background-first;
    }
  }

  &:active {
    background-color: f.$color-accent--active;

    & .swiper__button-icon {
      fill: f.$color-background-first;
    }
  }

  &:disabled {
    background-color: #e2e2e2;

    & .swiper__button-icon {
      fill: f.$color-background-first;
    }
  }
}

.swiper__button-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  fill: f.$color-accent;
}

.swiper__button--next .swiper__button-icon {
  transform: rotate(180deg) translate(50%, 50%);
}

.swiper__pagination-wrapper {
  display: none;
}

@media (min-width: f.$tablet-width) {
  .swiper__button {
    top: 300px;

    &--prev {
      left: calc(50% - 344px);
    }

    &--next {
      left: calc(50% + 344px);
    }
  }
}

@media (min-width: f.$desktop-width) {
  .swiper__button {
    top: 336px;

    &--prev {
      left: calc(50% - 680px);
    }

    &--next {
      left: calc(50% + 680px);
    }
  }

  .swiper__pagination-wrapper {
    position: absolute;
    z-index: 1;
    bottom: 70px;
    left: 50%;

    display: inline-block;

    transform: translateX(-50%);
  }

  .swiper__pagination {
    display: flex;
    column-gap: 8px;

    opacity: 1;
  }

  .swiper__pagination-bullet {
    width: 62px;
    height: 4px;
    margin: 0;

    cursor: pointer;

    opacity: 1;
    border-radius: 0;
    background-color: f.$color-background-first;

    &:hover,
    &:focus-visible {
      background-color: #7859CF3F
    }
  }

  .swiper__pagination-bullet--active {
    margin: 0;

    opacity: 1;
    background-color: f.$color-accent;
  }
}
