@use "./forwarded.scss" as f;

* {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
}

.page__body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  font-size: 24px;
  line-height: 24px;
  background-color: f.$color-background-first;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  @include f.visually-hidden;
}


.button {
  display: block;
  color: f.$color-background-first;
  background-color: f.$color-accent;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  outline: none;
}
