$color-background-first: #ffffff;
$color-background-second: #f3ebe1;
$color-background--hover: #7859cf3f; /* stylelint-disable-line */
$color-accent: #7859cf;
$color-accent--hover: #9070ec;
$color-accent--active: #593cac;
$color-text-first: #333333;
$color-disabled: #e2e2e2;


$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$mobile-width-only: 767px;
$tablet-width-only: 1439px;

