@use "../../global/forwarded.scss" as f; /* stylelint-disable-line */

.main-header {
  color: f.$color-text-first;
  background-color: f.$color-background-first;
}

.main-header__wrapper {
  display: flex;

  width: f.$mobile-width;
  min-height: 60px;
  margin: 0 auto;
  padding: 0 0 0 22px;
}

.main-header__logo {
  display: block;

  padding: 12px 0 0;
}

.main-header__slogan {
  display: none;
}

.main-header__main-nav {
  margin-left: auto;
}

@media (min-width: f.$tablet-width) {
  .main-header__wrapper {
    width: f.$tablet-width;
    min-height: 80px;
    padding: 0 20px;
  }

  .main-header__logo {
    padding-top: 22px;

    opacity: 1;

    outline: none;

    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    & img {
      display: block;

      width: 82px;
      height: 36px;
    }
  }

  .main-header__main-nav {
    flex-grow: 1;

    margin-left: 66px;
  }
}

@media (min-width: f.$desktop-width) {
  .main-header__wrapper {
    width: f.$desktop-width;
    padding: 0 40px;
  }

  .main-header__logo img {
    width: 170px;
  }

  .main-header__slogan {
    display: block;

    width: 126px;
    margin-left: 20px;
    padding-top: 24px;

    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .main-header__main-nav {
    margin-left: 162px;
  }
}
