@use "../../global/forwarded.scss" as f;


@media (max-width: f.$mobile-width-only) {
  .site-list {
    display: flex;
    flex-direction: column;

    width: 100vw;

    border-top: 1px solid #f0ebff;
    background-color: f.$color-background-first;
  }

  .site-list__button {
    @include f.link-reset;

    display: block;

    width: 100%;
    min-height: 57px;
    padding: 20px;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    border-bottom: 1px solid #f0ebff;
    background-color: f.$color-background-first;

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;

    user-select: none;

    &:active {

      background-color: #f0ebff;
    }
  }
}

@media (min-width: f.$tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__button {
    @include f.link-reset;

    display: block;

    max-width: 400px;
    min-height: 80px;
    padding: 32px 20px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: f.$color-text-first;

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;

    outline: none;
    user-select: none;

    &--current {
      padding-bottom: 30px;

      color: f.$color-accent;

      border-bottom: 2px solid f.$color-accent;
    }

    &:hover,
    &:focus-visible {
      color: f.$color-accent;
    }

    &:active {
      background-color: #f0ebff;
    }
  }
}

@media (min-width: f.$desktop-width) {
  .site-list {
    column-gap: 20px;
  }
}
