@use "../../global/forwarded.scss" as f;

.user-list {
  display: flex;
}

.user-list__button {
  position: relative;

  display: block;

  min-width: 60px;
  min-height: 60px;
}

.user-list__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}


.user-list__text {
  @media (max-width: f.$tablet-width-only) {
    @include f.visually-hidden;
  }
}

@media (min-width: f.$tablet-width) {
  .user-list {
    margin-left: auto;
  }

  .user-list__button {
    min-width: 60px;
    min-height: 80px;
  }
}

@media (min-width: f.$desktop-width) {
  .user-list {
    column-gap: 20px;
  }

  .user-list__button {
    @include f.link-reset;

    padding: 32px 20px 32px 44px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }

  .user-list__icon {
    position: absolute;
    top: 50%;
    left: 0;

    margin-left: 20px;

    transform: translateY(-50%);
  }
}
