@use "../../global/forwarded.scss" as f; /* stylelint-disable-line */

.contact {
  width: f.$mobile-width;
  margin: 0 auto;
  padding: 20px;
}

.contact__list {
  gap: 16px;
}

.contact__item {
  padding: 0;
}

.contact__link-icon {
  position: absolute;
  top: 2px;
  left: 0;
}

.contact__link {
  @include f.link-reset;

  position: relative;

  display: block;

  padding-left: 19px;

  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  outline: none;

  &:hover,
  &:focus-visible {
    color: f.$color-accent--hover;
  }

  &:active {
    color: f.$color-accent--active;
  }
}

@media (min-width: f.$tablet-width) {
  .contact {
    width: auto;
    margin: 0;
    padding: 0 0 8px;
  }
}

@media (min-width: f.$desktop-width) {
  .contact {
    padding: 0;
  }
}
