@use "../../global/forwarded.scss" as f;

.HTML-academy {
  width: f.$mobile-width;
  margin: 0 auto;
  padding: 20px;
}

.HTML-academy__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  text-align: center;

  color: #bdbdbd;

  font-size: 12px;
  line-height: 16px;
}

.HTML-academy__link {
  @include f.link-reset;

  display: flex;
  flex-wrap: wrap;

  &:hover,
  &:focus-visible {
    color: f.$color-accent;

    & .HTML-academy__icon {
      fill: f.$color-accent;
    }
  }

  &:active {
    color: f.$color-accent--active;

    & .HTML-academy__icon {
      fill: f.$color-accent--active;
    }
  }
}

.HTML-academy__icon {
  margin-left: 4px;

  fill: #bdbdbd;
}

@media (min-width: f.$tablet-width) {
  .HTML-academy {
    width: auto;
    margin: 0 auto;
    padding: 0;
  }
}
