@use "../../global/forwarded.scss" as f; /* stylelint-disable-line */

.media {
  width: f.$mobile-width;
  margin: 0 auto;
  padding: 20px 20px 28px;
}

.media__item {
  padding: 0;
}

.media__link {
  @include f.link-reset;

  display: block;

  margin: 0;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  font-size: 12px;
  font-weight: 500;
  line-height: 16px;

  &:hover,
  &:focus-visible {
    color: f.$color-accent--hover;
  }

  &:active {
    color: f.$color-accent--active;
  }
}

@media (min-width: f.$tablet-width) {
  .media {
    width: auto;
    margin: 0;
    padding: 0 0 8px;
  }
}

@media (min-width: f.$desktop-width) {
  .media {
    padding: 0;
  }
}
