@use "../../global/forwarded.scss" as f; /* stylelint-disable-line */

.social-network {
  @include f.list-reset;

  display: flex;
  gap: 20px;
}

.social-network__button {
  position: relative;

  display: block;

  min-width: 40px;
  min-height: 40px;
  padding: 8px;

  border-radius: 4px;

  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: #f0ebff;

    & .social-network__icon {
      fill: f.$color-accent;
    }
  }

  &:active {
    background: f.$color-background--hover;

    & .social-network__icon {
      fill: f.$color-accent--active;
    }
  }
}

.social-network__item {
  padding: 0;
}

.social-network__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  fill: #bdbdbd;

  transform: translate(-50%, -50%);
}
