@use "../../global/forwarded.scss" as f;

.social-network {
  @include f.list-reset;

  display: flex;
  gap: 20px;
}

.social-network__button {
  position: relative;

  display: block;

  min-width: 40px;
  min-height: 40px;
  padding: 8px;

  cursor: pointer;
}

.social-network__item {
  padding: 0;
}

.social-network__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
